$Size-XLarge: 24px;
$Size-MLarge: 22px;
$Size-Large: 20px;
$Size-Title: 18px;
$Size-List: 16px;
$Size-Info: 14px;
$Size-Hint: 12px;
$Size-XSmall: 10px;
$Size-Small: 9px;

$Color-Primary: #333;
$Color-Secondary: #666;
$Color-Hint: #999;
$Color-Disable: #ccc;
$Color-Green: #23beae;
$Color-Orange: #ff5346;
$Color-White: #fff;
$Color-Link: #00a0ff;
$Color-Null: #c0c5d0;
$Color-TipsWarning: #9a7126;
$Color-Selectgreen: #eafffd;
$Color-Deeporange: #d9453b;
$Color-Detailicon: #82cfd8;

$Bg-ActionBar: #fff;
$Bg-Expander: #f6f8fb;
$Bg-MaskBg: #780000;
$Bg-Bottom: #edf0f5;
$Bg-Pressed: #ededed;
$Bg-Card: #61aefd;
$Bg-Filter: #2e343b;
$Bg-FilterWordage: #bbb;
$Bg-TipsWarning: #ffe8a1;
$Bg-Line: #e4e4e4;
$Bg-Prompt: #9ec7f9;
$Bg-Second: #f2f5fa;

$Tg-Promotion: #ff9f20; //优惠、立返、大促
$Tg-Redpackage: #ff6d4f; //团购、红包、特色
$Tg-Fast: #2ebd59; //快速便捷
$Tg-TcLine: #00c7c4; //同程专线
$Tg-Other: #4ca4ff; //其它
